<div class='card'>
    <div class='card-header'>
        <!-- Shorthand If-statement with Interpolation (One-way binding) -->
        {{ (listFilter ? listFilter + ' ' + titleSuffix : pageTitle) | titlecase }}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Search:</div>
            <div class='col-md-4'>
                <!-- Two-Way binding using the ngModel property from the FormsModule -->
                <input type='text' [(ngModel)]='listFilter'/>
            </div>
        </div>
        <table class='table'
            *ngIf='products && products.length'>
            <thead>
                <tr>
                    <th>
                        <!-- Event Binding the onClick event (One-Way binding) -->
                        <button class='btn btn-primary' (click)='toggleImage()'>
                            {{ showImage ? 'Hide' : 'Show' }}
                        </button>
                    </th>
                    <th>Product</th>
                    <th>Code</th>
                    <th>Available</th>
                    <th>Price</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                <!-- Using Angular's build-in If-statement property *ngIf -->
                <tr *ngFor='let product of filteredProducts'>
                    <td>
                        <!-- Binding source, title and style properties (One-Way binding) -->
                        <img *ngIf='showImage'
                            [src]='product.imageUrl' 
                            [title]='product.productName'
                            [style.width.px]='imageWidth'
                            [style.height.px]='imageHeight'
                            [style.margin.px]='imageMargin'>
                    </td>
                    <!-- Using Angular's build-in pipes to format data -->
                    <!-- Using custom pipe class ConvertToSpaces -->
                    <td><a [routerLink]="['/products', product.productId]">{{ product.productName | titlecase }}</a></td>
                    <td id='productCode'>{{ product.productCode | convertToSpaces:'-' | uppercase }}</td>
                    <td>{{ product.releaseDate | date:'dd/MM/yy' }}</td>
                    <td>{{ product.price | currency:'EUR':'symbol':'2.2-2' | lowercase }}</td>
                    <td>
                        <!-- Binding to StarComponent's Input decorated property -->
                        <!-- Binding to StarComponent's Output decorated EventEmitter -->
                        <custom-rating [rating]='product.starRating'
                            (ratingClicked)='onRatingClicked($event)'>
                        </custom-rating>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
